:root {
    --el-color-white: var(--white-1000);
    --el-color-black: var(--black-1000);

    --bg-primary: var(--gray-100);
    --bg-primary-hover: var(--gray-200);
    --bg-secondary: var(--white-1000);
    --bg-secondary-hover: var(--gray-50);
    --bg-tertiary: var(--gray-300);
    --bg-tertiary-hover: var(--gray-400);
    --bg-filled: var(--slate-50);
    --bg-outlined: var(--bg-secondary);
    --bg-disabled: var(--gray-50);

    --bg-positive-primary: var(--green-500);
    --bg-positive-primary-hover: var(--green-600);
    --bg-positive-secondary: var(--green-200);
    --bg-positive-secondary-hover: var(--green-300);
    --bg-positive-tertiary: var(--green-100);
    --bg-positive-tertiary-hover: var(--green-200);

    --bg-warning-primary: var(--yellow-400);
    --bg-warning-primary-hover: var(--yellow-500);
    --bg-warning-secondary: var(--yellow-200);
    --bg-warning-secondary-hover: var(--yellow-300);
    --bg-warning-tertiary: var(--yellow-100);
    --bg-warning-tertiary-hover: var(--yellow-200);

    --bg-danger-primary: var(--red-500);
    --bg-danger-primary-hover: var(--red-600);
    --bg-danger-secondary: var(--red-200);
    --bg-danger-secondary-hover: var(--red-300);
    --bg-danger-tertiary: var(--red-100);
    --bg-danger-tertiary-hover: var(--red-200);

    --text-primary: var(--gray-900);
    --text-secondary: var(--gray-500);
    --text-tertiary: var(--gray-400);
    --text-disabled: var(--slate-200);

    --text-positive: var(--green-800);
    --text-on-positive-primary: var(--green-100);
    --text-on-positive-secondary: var(--green-800);
    --text-on-positive-tertiary: var(--green-800);

    --text-warning: var(--yellow-900);
    --text-on-warning-primary: var(--yellow-950);
    --text-on-warning-secondary: var(--yellow-800);
    --text-on-warning-tertiary: var(--yellow-900);

    --text-danger: var(--red-700);
    --text-on-danger-primary: var(--red-100);
    --text-on-danger-secondary: var(--red-700);
    --text-on-danger-tertiary: var(--red-700);

    --border-primary: var(--gray-300);
    --border-secondary: var(--gray-500);
    --border-tertiary: var(--gray-700);
    --border-disabled: var(--slate-100);

    --border-positive-primary: var(--green-800);
    --border-positive-secondary: var(--green-600);
    --border-positive-tertiary: var(--green-500);

    --border-warning-primary: var(--yellow-900);
    --border-warning-secondary: var(--yellow-700);
    --border-warning-tertiary: var(--yellow-600);

    --border-danger-primary: var(--red-700);
    --border-danger-secondary: var(--red-600);
    --border-danger-tertiary: var(--red-500);
}

:root.dark {
    --bg-primary: var(--slate-1000);
    --bg-primary-hover: var(--slate-800);
    --bg-secondary: var(--slate-950);
    --bg-secondary-hover: var(--slate-900);
    --bg-tertiary: var(--slate-800);
    --bg-tertiary-hover: var(--slate-600);
    --bg-filled: var(--slate700);
    --bg-outlined: var(--bg-secondary);
    --bg-disabled: var(--slate-900);

    --bg-positive-primary: var(--green-700);
    --bg-positive-primary-hover: var(--green-800);
    --bg-positive-secondary: var(--green-800);
    --bg-positive-secondary-hover: var(--green-900);
    --bg-positive-tertiary: var(--green-900);
    --bg-positive-tertiary-hover: var(--green-950);

    --bg-warning-primary: var(--yellow-400);
    --bg-warning-primary-hover: var(--yellow-500);
    --bg-warning-secondary: var(--yellow-800);
    --bg-warning-secondary-hover: var(--yellow-900);
    --bg-warning-tertiary: var(--yellow-900);
    --bg-warning-tertiary-hover: var(--yellow-950);

    --bg-danger-primary: var(--red-600);
    --bg-danger-primary-hover: var(--red-700);
    --bg-danger-secondary: var(--red-800);
    --bg-danger-secondary-hover: var(--red-900);
    --bg-danger-tertiary: var(--red-900);
    --bg-danger-tertiary-hover: var(--red-950);

    --text-primary: var(--white-1000);
    --text-secondary: var(--white-700);
    --text-tertiary: var(--white-500);
    --text-disabled: var(--slate-600);

    --text-positive: var(--green-700);
    --text-on-positive-primary: var(--green-100);
    --text-on-positive-secondary: var(--green-100);
    --text-on-positive-tertiary: var(--green-100);

    --text-warning: var(--yellow-200);
    --text-on-warning-primary: var(--yellow-950);
    --text-on-warning-secondary: var(--yellow-100);
    --text-on-warning-tertiary: var(--yellow-100);

    --text-danger: var(--red-200);
    --text-on-danger-primary: var(--red-100);
    --text-on-danger-secondary: var(--red-100);
    --text-on-danger-tertiary: var(--red-100);

    --border-primary: var(--slate-700);
    --border-secondary: var(--gray-500);
    --border-tertiary: var(--gray-400);
    --border-disabled: var(--slate-600);

    --border-positive-primary: var(--green-200);
    --border-positive-secondary: var(--green-400);
    --border-positive-tertiary: var(--green-600);

    --border-warning-primary: var(--yellow-200);
    --border-warning-secondary: var(--yellow-400);
    --border-warning-tertiary: var(--yellow-600);

    --border-danger-primary: var(--red-200);
    --border-danger-secondary: var(--red-400);
    --border-danger-tertiary: var(--red-500);
}

.item-purple {
    --bg-brand-primary: var(--purple-500);
    --bg-brand-primary-hover: var(--purple-600);
    --bg-brand-secondary: var(--purple-200);
    --bg-brand-secondary-hover: var(--purple-300);
    --bg-brand-tertiary: var(--purple-100);
    --bg-brand-tertiary-hover: var(--purple-200);

    --text-brand: var(--purple-700);
    --text-on-brand: var(--white-1000);

    --border-brand-primary: var(--purple-500);
    --border-brand-secondary: var(--purple-600);
    --border-brand-tertiary: var(--purple-500);
}
.item-purple.dark {
    --bg-brand-primary: var(--purple-500);
    --bg-brand-primary-hover: var(--purple-600);
    --bg-brand-secondary: var(--purple-800);
    --bg-brand-secondary-hover: var(--purple-900);
    --bg-brand-tertiary: var(--purple-900);
    --bg-brand-tertiary-hover: var(--violet-950);

    --text-brand: var(--purple-300);
    --text-on-brand: var(--white-1000);

    --border-brand-primary: var(--white-1000);
    --border-brand-secondary: var(--purple-800);
    --border-brand-tertiary: var(--purple-900);
}

.unis-blue {
    --bg-brand-primary: var(--blue-500);
    --bg-brand-primary-hover: var(--blue-600);
    --bg-brand-secondary: var(--blue-200);
    --bg-brand-secondary-hover: var(--blue-300);
    --bg-brand-tertiary: var(--blue-100);
    --bg-brand-tertiary-hover: var(--blue-200);

    --text-brand: var(--blue-500);
    --text-on-brand: var(--white-1000);

    --border-brand-primary: var(--blue-500);
    --border-brand-secondary: var(--blue-600);
    --border-brand-tertiary: var(--blue-500);
}
.unis-blue.dark {
    --bg-brand-primary: var(--blue-500);
    --bg-brand-primary-hover: var(--blue-600);
    --bg-brand-secondary: var(--blue-800);
    --bg-brand-secondary-hover: var(--blue-900);
    --bg-brand-tertiary: var(--sky-900);
    --bg-brand-tertiary-hover: var(--sky-950);

    --text-brand: var(--blue-300);
    --text-on-brand: var(--white-1000);

    --border-brand-primary: var(--white-1000);
    --border-brand-secondary: var(--blue-800);
    --border-brand-tertiary: var(--blue-900);
}

:root {
    --el-color-primary: var(--bg-brand-primary);
    --el-color-success: var(--bg-positive-primary);
    --el-color-warning: var(--bg-warning-primary);
    --el-color-danger: var(--bg-danger-primary);
    --el-color-error: var(--bg-danger-primary);
    --el-color-info: var(--bg-primary);
    --el-bg-color: var(--bg-secondary);
    --el-bg-color-page: var(--bg-primary);
    --el-bg-color-overlay: var(--bg-secondary);
    --el-text-color-primary: var(--text-primary);
    --el-text-color-regular: var(--text-secondary);
    --el-text-color-secondary: var(--text-tertiary);
    --el-text-color-placeholder: var(--text-tertiary);
    --el-text-color-disabled: var(--text-disabled);
    --el-border-color: var(--border-primary);
    --el-border-color-light: var(--border-primary);
    --el-border-color-lighter: var(--border-tertiary);
    --el-border-color-extra-light: var(--border-disabled);
    --el-border-color-dark: var(--border-secondary);
    --el-border-color-darker: var(--border-tertiary);
    --el-fill-color-light: var(--bg-filled);
    --el-fill-color-blank: var(--bg-secondary);
    --el-disabled-bg-color: var(--bg-disabled);
    --el-disabled-text-color: var(--text-disabled);
    --el-disabled-border-color: var(--border-disabled);
    --el-overlay-color: rgba(0, 0, 0, .7);
    --el-overlay-color-light: rgba(0, 0, 0, .6);
    --el-overlay-color-lighter: rgba(0, 0, 0, .5);
    --el-mask-color: rgba(255, 255, 255, .9);
    --el-mask-color-extra-light: rgba(255, 255, 255, .3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color)
}
  
.bg-white {
    background-color: var(--bg-secondary);
}